@model List<dynamic>
@{
	ViewData["Title"] = "Workflows";
}

<div>
	<nav class="navbar navbar-light bg-light">
		<div class="navbar-brand">Workflows</div>
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="btn btn-dark" asp-action="index" asp-controller="editor">Create</a>
			</li>
		</ul>
		<form method="post" asp-action="publish" asp-controller="workflow" enctype="multipart/form-data">
			<div class="form-row">
				<input class="" type="file" name="uploadedFile" />
				<input class="" type="text" name="id" placeholder="Process Id" style="margin:0 1rem 0 0"/>
				<button class="btn btn-secondary btn-sm" type="submit">Publish</button>
			</div>
		</form>
	</nav>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Version</th>
				<th>Format</th>
				<th>DateCreated</th>
				<th>Instances</th>
				<th />
			</tr>
		</thead>
		<tbody>
			@foreach (var wf in Model)
			{
			<tr>
				<td>@wf.Id</td>
				<td>@wf.Version</td>
				<td>@wf.Format</td>
				<td>@wf.DateCreated.ToString()</td>
				<td>@wf.InstanceCount</td>
				<td style="width:0;white-space:nowrap">
					<form style="display:inline" asp-action="Run" asp-controller="Workflow" method="post">
						<input type="hidden" name="id" value="@wf.Id" />
						<input type="hidden" name="version" value="@wf.Version" />
						<button class="btn btn-primary btn-sm" type="submit">Run</button>
					</form>
					<button class="btn btn-info btn-sm" type="submit">Versions</button>
				</td>
			</tr>
			}
		</tbody>
	</table>
</div>
